.ArticleEmpty_Wrapper {
  margin: 116px 0;
  padding: 20px 0;
}

.ArticleEmpty_Icon {
  padding: 12.5px 10px;
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  fill: #e5e8eb;

  &.ArticleEmpty_CircleIcon {
    padding: 4px;
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    fill: var(--slategray_10);
    border-radius: 999px;
  }
}

.ArticleEmpty_Description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-align: center;
  color: var(--slategray_60);
}

.ArticleEmpty_Button {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.35px;
  line-height: 38px;
  text-decoration: none;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px var(--dodgerblue_60);
  background-color: var(--dodgerblue_50);
  margin: 20px auto;
  text-align: center;
  &:hover,
  &:active {
    background-color: var(--dodgerblue_60);
    transition: background 0.2s, color 0.2s;
  }
}
