@import 'Search.css';

:root {
  --gnb_mobile_height: 44px;
  --gnb_pc_height: 60px;
  --gnb_android_app_height: 57px;
  --gnb_ios_app_height: 52px;
}

.GNBWrapper {
  position: relative;
  border-bottom: 1px solid var(--slategray_20);
  background: #fff;
  z-index: 900;
  @nest .iosApp & {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--bluegray_70);
  }
}
.GNBWrapper-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  background: transparent;
  &.GNBWrapper-transparent-relative {
    position: relative;
    top: auto;
    left: auto;
  }
}
.GNBWrapper-dark {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.GNBContentWrapper {
  display: table;
  width: 100%;
  min-width: var(--min-content-width);
  height: var(--gnb_mobile_height);
  box-sizing: border-box;
  @nest .androidApp & {
    height: var(--gnb_android_app_height);
  }
  @nest .iosApp & {
    height: var(--gnb_ios_app_height);
  }
}

.GNBLeft { /* GNB 왼쪽 영역 */
  display: table-cell;
}


/* GNB Logo Section */
.GNBLogoWrapper {
  box-sizing: border-box;
  display: inline-block;
  height: var(--gnb_mobile_height);
  padding: 16px 6.5px 0 10px;
  transition: opacity .2s;
  vertical-align: top;
  & .GNBLogo {
    width: 83.5px;
    height: 13px;
    vertical-align: top;
    fill: var(--bluegray_80);
    @nest .GNBWrapper-dark & {
      fill: #fff;
    }
    @nest .GNBWrapper-transparent & {
      fill: #fff;
    }
  }

  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }
  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }
  @nest .androidApp & {
    height: var(--gnb_android_app_height);
    padding-top: 17px;
  }
  @nest .iosApp & {
    height: var(--gnb_ios_app_height);
  }
}

/* GNB Service Link List */
.GNBServiceList {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
}

.GNBService {
  display: inline-block;
  position: relative;
  &::before {
    position: absolute;
    top: calc((var(--gnb_mobile_height) - 11px) / 2);
    left: 0;
    width: 1px;
    height: 11px;
    background: var(--slategray_20);
    content: '';
    @nest .GNBWrapper-dark & {
      background: #fff;
      opacity: .3;
    }
    @nest .androidApp & {
      top: calc((var(--gnb_android_app_height) - 10px) / 2);
    }
    @nest .iosApp & {
      top: calc((var(--gnb_ios_app_height) - 10px) / 2);
    }
  }
}

.GNBServiceLink {
  box-sizing: border-box;
  display: inline-block;
  height: var(--gnb_mobile_height);
  padding-left: 6px;
  transition: opacity .2s;
  &.Ridibooks_Link {
    padding-top: 17px;
  }
  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }
  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }
  @nest .androidApp & {
    height: var(--gnb_android_app_height);
  }
  @nest .iosApp & {
    height: var(--gnb_ios_app_height);
  }
}

.GNBServiceLogo {
  &.RidibooksLogo {
    width: 71.5px;
    height: 11px;
    vertical-align: top;
    fill: var(--slategray_30);
    @nest .GNBWrapper-dark & {
      opacity: .5;
      fill: #fff;
    }
  }
}

.GNBRight { /* GNB 오른쪽 영역 */
  display: table-cell;
  padding-right: 10px;
  text-align: right;
  vertical-align: top;
}

.GNBRightButtonWrapper {
  display: inline-block;
  vertical-align: top;
}

.GNBSettingButton {
  box-sizing: border-box;
  display: inline-block;
  height: var(--gnb_mobile_height);
  padding: calc((var(--gnb_mobile_height) - 17.5px) / 2) 10px 0;
  transition: opacity .2s;
  vertical-align: top;
  & .SettingIcon {
    width: 17.5px;
    height: 18px;
    fill: var(--bluegray_70);
  }
  &.GNBSettingDarkColor {
    & .SettingIcon {
      fill: #fff;
    }
  }
  & .SettingIcon_IosInApp {
    width: 24px;
    height: 24px;
  }
  @media (hover: hover) {
    &:hover {
      opacity: .8;
    }
  }
  @media (hover: none) {
    &:active {
      opacity: .8;
    }
  }
  @nest .androidApp & {
    height: var(--gnb_android_app_height);
  }
  @nest .iosApp & {
    height: var(--gnb_ios_app_height);
    padding-top: 11px;
    @media (hover: hover) {
    &:hover {
        opacity: .2;
      }
    }
    @media (hover: none) {
      &:active {
        opacity: .2;
      }
    }
  }
}

.GNB_LinkButton {
  display: inline-block;
  height: 28px;
  margin-top: 8px;
  padding: 0 11px;
  border: solid 1px var(--slategray_20);
  border-radius: 3px;
  background-color: transparent;
  color: var(--slategray_50);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -.5px;
  line-height: 28px;
  text-decoration: none;

  & + .GNB_LinkButton {
    margin-left: 4px;
  }

  &.GNB_WebLibrary_Button {
    padding: 0;
    width: 55px;
    margin-left: 10px;
    text-align: center;
  }

  @nest .GNBWrapper-dark & {
    color: #fff;
    border: solid 1px rgba(255, 255, 255, .5);
  }
  @nest .GNBWrapper-transparent & {
    color: #fff;
    border: solid 1px rgba(255, 255, 255, .5);
  }

  @nest .androidApp & {
    margin-top: 9px;
  }
}

.GnbTab_Wrapper {
  position: relative;
  background-color: white;
  height: var(--gnb_mobile_height);
}

.GnbTab_List {
  list-style: none;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  padding-left: 16px;
}

.GnbTab_Item {
  position: relative;
  display: inline-block;
  margin-right: 24px;
  line-height: 24px;
  padding: 10px 3px 10px 3px;
  @nest .androidApp &,
  @nest .iosApp & {
    padding: 16px 3px 17px 3px;
  }
}

.GnbTab_Link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.34px;
  color: var(--slategray_40);

  & .reset-heading {
    transition: opacity .2s;
  }

  @media (hover: hover) {
    &:hover .reset-heading {
      opacity: .8;
    }
  }
  @media (hover: none) {
    &:active .reset-heading {
      opacity: .8;
    }
  }

  &.GnbTab_Link-active {
    color: var(--bluegray_80);
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: var(--slategray_50);
      left: 0;
      bottom: -1px;
    }
  }

  & .reset-heading {
    font-weight: 500;
  }
}

@media (--pc-screen) {
  .GNBWrapper {
    & .GNBContentWrapper {
      position: relative;
      max-width: var(--max-pc-content-width);
      height: var(--gnb_pc_height);
      margin: 0 auto;
      border: none;
      & .GNBLeft {
        & .GNBLogoWrapper {
          height: var(--gnb_pc_height);
          padding: 24px 11.7px 0 0;
          line-height: var(--gnb_pc_height);
          & .GNBLogo {
            width: 102px;
            height: 16px;
          }
        }
        & .GNBServiceList {
          height: var(--gnb_pc_height);
          & .GNBService {
            height: var(--gnb_pc_height);
            line-height: calc(var(--gnb_pc_height) - 2px);
            &::before {
              height: 14px;
              top: calc(((var(--gnb_pc_height) - 14px) / 2) + 2px);
            }
            & .GNBServiceLink {
              padding: 25px 0 0 10px;
            }
            & .RidibooksLogo {
              width: 91px;
              height: 14px;
            }
          }
        }
      }
      & .GNBRight {
        & .GNBRightButtonWrapper {
          position: relative;
          z-index: 901;
          & .GNBSettingButton {
            height: var(--gnb_pc_height);
            padding: calc(((var(--gnb_pc_height) - 17.5px) / 2) + 2px) 10px;
          }
        }
      }
    }
  }
  .GNB_LinkButton {
    &:not(.GNB_WebLibrary_Button) {
      height: var(--gnb_pc_height);
      line-height: 60px;
      margin-top: 0;
      font-size: 18px;
      border: 0!important;
    }
    &.GNB_WebLibrary_Button {
      margin-top: 18px;
      width: 67px;
    }
  }
  .GnbTab_Wrapper {
    height: auto;
  }
  .GnbTab_Item {
    padding: 7px 3px 9px 3px;
  }
}

@media (--minimal-mobile-screen) {
  .GNBSettingButton {
    padding: calc((var(--gnb_mobile_height) - 17.5px) / 2) 8px 0;
  }

  .GNB_LinkButton.GNB_WebLibrary_Button {
    margin-left: 8px;
  }
}
