.PageMaintenance {
  padding: 40px 0;
}
.MaintenanceWrapper {
  max-width: 630px;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 14px;
  line-height: 1.3em;
  color: var(--slategray_90);

  @media (max-width: 670px) {
    margin: 0 16px;
  }
  & ul {
    @apply --reset-layout;
    & li {
      @apply --reset-layout;

      list-style: none;
      padding-left: 15px;
      position: relative;
      &::before {
        content: '';
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: var(--slategray_50);
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 6px;
        left: 6px;
      }
    }
  }
}

.MaintenanceHeader {
  & h1 {
    font-size: 24px;
    line-height: 1em;
    margin-bottom: 20px;
  }
  & p {
    margin-bottom: 10px;
  }
}

.MaintenanceContentSection {
  margin: 20px 0 12px;
  padding: 12px 40px;
  border-radius: 4px;
  background-color: var(--slategray_5);
  color: var(--slategray_70);
  font-size: 13px;
  line-height: 1.5em;
  position: relative;

  & svg {
    width: 16px;
    height: 16px;
    fill: var(--slategray_40);
    position: absolute;
    top: 14px;
    left: 16px;
  }

  & dl {
    @apply --reset-layout;
    & dt {
      font-weight: 700;
      margin: 14px 0 5px;
      padding: 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    & dd {
      @apply --reset-layout;
      & > ul {
        & > li {
          margin-top: 8px;

          & > ul > li {
            margin-top: 3px;
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.MaintenanceFooter {
  margin-top: 15px;
  line-height: 2em;
}
