@import 'InstantSearch.css';
@import 'SearchHistory.css';

.GNBSearchWrapper {
  display: inline-block;
  vertical-align: top;
  & .dim {
    display: none;
  }
  &.active,
  &.GNBSearchWrapper-typeBlock {
    box-sizing: border-box;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--gnb_mobile_height);
    padding: var(--mobile-search-vertical-inner-padding) 6px;
    background: var(--bluegray_90);
    & .GNBSearchButton {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: var(--gnb_mobile_height);
    }
    & .GNBSearchInputWrapper {
      display: block;
      margin-left: 42px;
      &:not(.GNBSearchInputWrapper-empty) {
        padding-right: 38px;
      }
    }
    & .GNBSearchResetButton {
      display: block;
    }
    @nest .androidApp & {
      height: var(--gnb_android_app_height);
      padding: 10.5px 12px;
      box-shadow: 1px 1px 0 #fff;
      & .GNBSearchButton {
        display: inline-block;
        height: var(--gnb_android_app_height);
      }
      & .GNBSearchInputWrapper {
        height: 36px;
        margin-left: 36px;
      }
      & .GNBSearchInput {
        height: 36px;
        line-height: 22px;
      }
    }
    @nest .iosApp & {
      height: var(--gnb_ios_app_height);
      /* inapp safe area iOS 11.0 버전 */
      top: constant(safe-area-inset-top);
      /* inapp safe area iOS 11.2 이상 */
      top: env(safe-area-inset-top);
      padding: 10.5px 12px;
      box-shadow: 1px 1px 0 #fff;
      & .GNBSearchButton {
        display: inline-block;
        height: var(--gnb_ios_app_height);
      }
      & .GNBSearchInputWrapper {
        height: 36px;
        margin-left: 36px;
      }
      & .GNBSearchInput {
        height: 36px;
        line-height: 22px;
      }
    }
  }
}

.GNBSearchWrapper-colored {
  & .GNBSearchInputWrapper {
    background: rgba(255, 255, 255, 0.1);
  }
  & .GNBSearchInput {
    color: #fff;
  }
  & .GNBSearchIcon {
    fill: #fff;
  }
  & .GNBSearchResetButtonIcon {
    fill: #fff;
  }
  &.active {
    & .RSGIcon-search {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
  & .GNBSearchInput::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  & .GNBSearchInput:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  & .GNBSearchInput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  & .GNBSearchInput:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.GNBSearchInput::-ms-clear,
.GNBSearchInput::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.GNBSearchInput::-webkit-search-decoration,
.GNBSearchInput::-webkit-search-cancel-button,
.GNBSearchInput::-webkit-search-results-button,
.GNBSearchInput::-webkit-search-results-decoration {
  display: none;
}

.GNBSearchButton {
  @apply --reset-button;

  box-sizing: border-box;
  height: var(--gnb_mobile_height);
  padding: 13px 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.2;
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
  @media (hover: none) {
    &:active {
      opacity: 0.8;
    }
  }
  @nest .androidApp & {
    @media (--mobile-screen) {
      height: var(--gnb_android_app_height);
    }
  }
  @nest .iosApp & {
    @media (--mobile-screen) {
      height: var(--gnb_ios_app_height);
    }
  }
}
.GNBSearchButtonIcon {
  width: 18px;
  height: 18px;
  fill: var(--bluegray_70);
  @nest .GNBSearchWrapper-colored & {
    fill: #fff;
  }
}
.GNBSearchButtonIcon_IosInApp {
  width: 24px;
  height: 24px;
}
.GNBSearchInputWrapper {
  box-sizing: border-box;
  display: none;
  position: relative;
  height: 100%;
  min-height: 36px;
  padding: 0 40px 0 10px;
  border-radius: 3px;
  outline: none;
  background: var(--slategray_5);
  text-align: left;
  vertical-align: top;
  &.GNBSearchInputWrapper-empty {
    padding-right: 10px;
  }
}
.GNBSearchIcon {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: black;
}
.GNBSearchInput {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 24px 8px 0;
  line-height: 22px;
  border: none;
  outline: none;
  background: transparent;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--gray_100);

  &::-webkit-input-placeholder {
    color: var(--slategray_40);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &:-moz-placeholder {
    color: var(--slategray_40);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &:-ms-input-placeholder {
    color: var(--slategray_40);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &:-moz-placeholder {
    color: var(--slategray_40);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
.GNBSearchResetButton {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
  line-height: 36px;
  vertical-align: top;
  padding-top: 12px;
  box-sizing: border-box;
}
.GNBSearchResetButtonIcon {
  width: 12px;
  height: 12px;
  fill: #000;
  vertical-align: top;
}

@media (--pc-screen) {
  .GNBSearchWrapper {
    &.active,
    &.GNBSearchWrapper-typeBlock {
      position: relative;
      width: auto;
      height: var(--gnb_pc_height);
      padding: 11px 10px 11px 28px;
      background: transparent;
      text-align: right;
      z-index: 900;

      @nest .iosApp & {
        top: unset;
        left: unset;
      }

      & .GNBSearchInputWrapper {
        display: inline-block;
        margin: 0;
        z-index: 999;
      }
      & .GNBSearchButton {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: default;
        z-index: 998;
        & .GNBSearchButtonIcon {
          display: none;
        }
      }
    }
  }
  .GNBSearchButton {
    height: var(--gnb_pc_height);
    padding: calc(((var(--gnb_pc_height) - 18px) / 2)) 10px;
  }
  .GNBSearchInputWrapper {
    width: 300px;
    padding: 0 40px 0 34px;
  }
  .GNBSearchIcon {
    display: block;
  }
  .GNBSearchInput {
    display: inline-block;
  }
}

@media (--mobile-screen) {
  .GNBSearchWrapper.GNBSearchWrapper-typeBlock {
    position: absolute;
    top: 44px;
    left: 0;
    height: var(--mobile-blocked-search-height);
    padding: 4px 20px;
    border-bottom: 1px solid var(--slategray_20);

    & .GNBSearchButton {
      display: none;
    }
    & .GNBSearchInputWrapper {
      position: relative;
      margin: 0;
      padding: 0 40px 0 36px;
      z-index: 901;
    }
    & .GNBSearchIcon {
      display: block;
      fill: #212b3b;
    }
    & .dim {
      margin: 0;
      padding-top: var(--mobile-blocked-search-height);
      @nest .androidApp & {
        padding-top: var(--gnb_android_app_height);
      }
      @nest .iosApp & {
        /* inapp safe area iOS 11.0 버전 */
        padding-top: calc(constant(safe-area-inset-top) + var(--gnb_ios_app_height));
        /* inapp safe area iOS 11.2 이상 */
        padding-top: calc(env(safe-area-inset-top) + var(--gnb_ios_app_height));
      }
    }
    @nest .androidApp & {
      top: 41px;
    }
    @nest .iosApp & {
      top: 41px;
    }
  }
  .GNBSearchWrapper.active {
    z-index: 1;
    & .dim {
      box-sizing: border-box;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      margin-top: var(--mobile-blocked-search-height);
      padding: 0;
      content: '';
      z-index: 900;
      &::after {
        display: block;
        width: 100%;
        height: 100%;
        background: var(--slategray_70);
        content: '';
        opacity: 0.5;
      }
      @nest .androidApp & {
        margin-top: var(--gnb_android_app_height);
        padding: 0;
      }
      @nest .iosApp & {
        margin-top: var(--gnb_ios_app_height);
        padding: 0;
      }
    }
  }
}

@media (--minimal-mobile-screen) {
  .GNBSearchButton {
    padding: 13px 8px;
  }
  .GNBSearchWrapper.GNBSearchWrapper-typeBlock {
    padding: 4px 10px;
  }
}
