.SlideArrowButton {
  position: absolute;
  background: white;
  width: 40px;
  height: 40px;
  top: 50%;
  border-radius: 40px;
  border-color: transparent;
  box-shadow: 0 0.8px 3px rgba(0, 0, 0, 0.33);
  margin: -20px 0 0 0;
  padding: 0;
  opacity: 0.95;
  transition: opacity 0.1s;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  @media (hover: none) {
    :hover {
      opacity: 0.95;
    }
  }
  @media (--mobile-layout) {
    top: 15px;
  }
}
.ArrowButtonGradient {
  width: 62px;
  height: 100%;
  z-index: 10;
  @media (--mobile-layout) {
    display: none;
  }
}

.SlideArrowButton_Left {
  left: -45px;
  justify-content: flex-start;
  transition: opacity 0.2s;
  @media (--mobile-layout) {
    top: 15px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 100%;
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%,
      white 100%
    );
  }
}
.ArrowButtonGradient_Left {
  position: absolute;
  left: 0px;
  top: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 100%);
  @media (--mobile-layout) {
    top: 12px;
  }
}

.SlideArrowButton_Right {
  right: -45px;
  transition: opacity 0.2s;
}
.ArrowButtonGradient_Right {
  position: absolute;
  right: 0px;
  top: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
  @media (--mobile-layout) {
    top: 12px;
  }
}

.SlideArrowButtonIcon_Left {
  transform-origin: center;
  transform: rotateX(180deg) translate(-2%, 0) rotate(180deg);
  fill: #808991;
}

.SlideArrowButtonIcon_Right {
  fill: #808991;
}

.arrowTransition {
  opacity: 0 !important;
  pointer-events: none;
}

.scrollBarHidden {
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
    display: none !important;
  }
}
