.TileArticleList {
  margin: 0;
  padding: 0;
  border: 0;
  appearance: none;
  list-style: none;
  display: flex;
  padding: 0 14px;
  flex-wrap: wrap;
  align-items: flex-start;  

}

.TileArticleList_Item {
  @apply --reset-layout;

  width: 50%;
  padding: 20px 6px 10px;
  flex-direction: column;
  box-sizing: border-box;

  & .ArticleThumbnail_CoverImage {
    border-radius: 1px;
    border: solid 1px rgba(0, 0, 0, 0.1);  
  }  
}

@media (--small-screen-device) {
  .TileArticleList_Item {
    width: 100%;
  }
}

.TileArticleList_ItemLink {
  @apply --reset-font-unlimited;

  display: block;
  text-decoration: none;
  margin-right: 11px;
}


.TileArticleList_ItemInfo {
  display: flex; 
  margin-top: 15px;
  padding: 0px 15px;
}

.TileArticleList_ChannelThumbnail {
  margin-right: 10px;
}
.TileArticleList_Thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 999px;
}
.TileArticleList_Title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: -0.5px;
  color: var(--gray_100);  
  margin: 0;
  margin-bottom: 4px;
}

.TileArticleList_ChannelName {
  font-size: 13px;
  letter-spacing: -0.3px;
  color: var(--slategray_60);  
}

.TileArticleList_Date {
  font-size: 13px;
  letter-spacing: -0.3px;
  color: var(--slategray_60);  
}
.TileArticleList_Favorite {
  margin-left: auto;
}

.TileArticleList_Favorite_Button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;  
  cursor: pointer;
}

.TileArticleList_Favorite_Icon {
  width: 13px;
  height: 12px;
  fill: #eb5847;
  margin-top: 7px;
}

.TileArticleList_Favorite_Cancel {
  fill: var(--gray_30);
}

