.ArticleHome_Panel {
  border-bottom: 4px solid #e6e8eb;
  @media (min-width: 841px) {
    border-bottom: 0px;
    margin-top: 0;
  }
}
.ArticleHomeSection {
  padding: 30px 20px;
  background-color: #fff;

  @media (min-width: 841px) {
    padding: 30px 0 0;
    margin: 0 auto;
    width: 800px;  
  }
  & .ArticleSection_Header {
    & .ArticleSection_Title {
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: -0.5px;
      color: var(--gray_100);      
    }
  }

  & .ArticleChartList_Wrapper {
    margin-top: 20px;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    & a {
      text-decoration: none;
    }      

    & ol.ArticleChartGroup {
      vertical-align: top;
      margin: 0;
      padding: 0;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      & li.Article {
        display: flex;
        align-items: start;
        color: inherit;
        text-decoration: inherit;
        height: 70px;
        list-style: none;
        margin-bottom: 30px;
        & .pass-through {
          margin: 0;
          padding: 0;
          display: inherit;      
          height: 100%;    
          & .ArticleHomeSection_ChartRanking {
            min-width: 10px;
            align-self: center;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.64px;
            color: var(--gray_100); 
            margin-right: 10px;           
          }
          & .Article_Thumbnail {
            width: 60px;
            height: 60px;
            margin-right: 10px;
            align-self: center;
            & img {
              display: block;
              position: relative;
              width: 100%;
              height: 100%;
              max-height: inherit;
              border: 1px solid #eee;
              box-sizing: border-box;         
            }
          }
          & .Article_Meta {
            align-self: center;
            width: 182px;
            color: #40474d;
            font-size: 13px;
            @media (min-width: 601px) {
              width: 292px;
            }
            & .Article_Title {
              font-family: NotoSansCJKkr;
              font-size: 15px;
              font-weight: 500;
              line-height: 1.53;
              letter-spacing: -0.5px;
              color: var(--gray_100);
            }
            & .Article_Channel {
              margin-top: 4px;
              display: block;
              font-family: NotoSansCJKkr;
              font-size: 13px;
              letter-spacing: -0.3px;
              color: var(--slategray_60);
            }
          }
        }
      }      
    }

  }


}