.Load_Trigger_Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.SceneLoadingCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
}

.SectionMain {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  min-height: 900px;
  background: url(../images/intro/hero_bg.jpg) center center no-repeat;
  background-size: cover;
  &::after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 103px;
    content: '';
    background: -moz-linear-gradient(
      top,
      rgba(125, 185, 232, 0) 0%,
      rgba(15, 23, 36, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(125, 185, 232, 0) 0%,
      rgba(15, 23, 36, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(125, 185, 232, 0) 0%,
      rgba(15, 23, 36, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#0f1724',GradientType=0 ); /* IE6-9 */
  }
}

.SectionMain_MainCopy,
.SectionMain_Description,
.SectionMain_Button {
  transform: translate(0, 50px);
  opacity: 0;
  transition: transform 0.8s, opacity 0.5s;

  @nest .active & {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.SectionMain_Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 30px;
  color: #fff;
  @media (--pc-screen) {
    width: 800px;
    margin: 0 auto;
  }
}

.SectionMain_MainCopy {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 900;
  line-height: 40px;
  @media (--pc-screen) {
    font-size: 42px;
    line-height: 59px;
  }
}

.SectionMain_Description {
  margin: 0;
  padding: 14px 0 0;
  font-size: 15px;
  line-height: 25px;
  transition-delay: 0.3s;

  @media (--pc-screen) {
    padding-top: 20px;
    font-size: 18px;
    line-height: 32px;
  }
}

.SectionMain_Button {
  @apply --reset-font-unlimited;

  width: 100%;
  height: 50px;
  margin: 44px 0 0;
  box-shadow: 1px 1px 1px 0 rgba(31, 140, 230, 0.3);
  transition-delay: 0.6s;

  @media (--pc-screen) {
    width: 240px;
  }

  & > .RSGIcon-arrow5Right {
    width: 4.7px;
    height: 8px;
    margin: 2px 0 0 5px;
    fill: #fff;
  }

  &.Intro_Subscription_Button {
    display: inline-block;
    padding: 0 19px 0 18px;
    border: solid 1px var(--bluegray_80);
    background-color: var(--bluegray_70);
    box-shadow: none;
    text-align: left;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--bluegray_80) !important;
      }
    }
    @media (hover: none) {
      &:not(:disabled):active {
        background-color: var(--bluegray_80) !important;
      }
    }

    @media (--pc-screen) {
      width: 260px;
    }
  }

  &.Intro_GetVoucher_Button {
    display: inline-block;
    padding: 0 19px 0 18px;
    margin-top: 10px;
    box-shadow: none;
    text-align: left;

    @media (--pc-screen) {
      width: 260px;
    }
  }

  & .SectionMain_Button_MainLabel {
    font-size: 15px;
    line-height: 50px;
  }

  & .SectionMain_Button_SubLabel {
    font-size: 15px;
    float: right;
    line-height: 50px;
  }
}

.SectionMain_ButtonCaption {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  @media (--mobile-screen) {
    width: 100%;
  }
}

@media (--mobile-screen) {
  .SectionMain {
    height: 100vh;
    min-height: auto;
    max-height: 640px;
    background: url(../images/intro/hero_bg.m.jpg) center center no-repeat;
    background-size: cover;
  }

  .Footer {
    padding-bottom: 70px;
  }
}
