:root {
  --horizontal-padding: 20px;
  --book-width-mobile: 110px;
  --book-width-pc: 120px;
}

.HomeSection {
  padding: 30px var(--horizontal-padding) 0;
  background-color: #fff;
  &:last-child {
    padding-bottom: var(--horizontal-padding);
  }
  @media (--pc-screen) {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0 0;
  }
}

.HomeSection_Books {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  @media (--mobile-screen) {
    margin: 20px calc(-1 * var(--horizontal-padding)) 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    & > .HomeSection_Book:first-child {
      margin-left: var(--horizontal-padding);
    }

    & > .HomeSection_Book:last-child {
      margin-right: var(--horizontal-padding);
    }
  }
  @media (--pc-screen) {
    & > .HomeSection_Book:nth-child(n + 7) {
      display: none;
    }
  }
}

.HomeSection_BookLink {
  text-decoration: none;
}

.HomeSection_Book {
  width: var(--book-width-mobile);
  list-style: none;

  & > .HomeSection_ChartBook {
    flex-direction: column;
  }

  @media (--pc-screen) {
    width: var(--book-width-pc);
  }

  & + .HomeSection_Book {
    margin-left: 10px;
    @media (--pc-screen) {
      margin-left: 16px;
    }
  }
}

.HomeSection_BookThumbnail {
  width: var(--book-width-mobile);
  @media (--pc-screen) {
    width: var(--book-width-pc);
  }
}

.HomeSection_BookTitle {
  display: block;
  margin-top: 10px;
  color: #40474d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  word-wrap: break-word;
}
