:root {
  --lnb_mobile_height: 39px;
  --lnb_pc_height: 42px;
}

.LnbMenu_Wrapper {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  /* border-bottom: 1px solid var(--bluegray_100);   */
  z-index: 800;
  @nest .iosApp & {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid var(--bluegray_70);
  }
  @nest .iosApp .GNBWrapper + & {
    top: var(--gnb_ios_app_height);
    @media (--pc-screen) {
      top: var(--gnb_pc_height);
    }
  }
}
.LnbMenu_List {
  display: table;
  width: 100%;
  min-width: var(--min-content-width);
  margin: 0;
  padding: 0;
  list-style: none;
  table-layout: fixed;
}
.LnbMenu {
  display: table-cell;
  &.LnbMenu_Home { width: 15%; }
  &.LnbMenu_RecentUpdates { width: 32%; }
  &.LnbMenu_Categories { width: 25%; }
  &.LnbMenu_MySelect { width: 28%; }

  &.LnbMenu_ArticleHome { width: 16% }
  &.LnbMenu_ArticleFollowing { width: 23% }
  &.LnbMenu_ArticleChannel { width: 27% }
  &.LnbMenu_ArticleFavorite { width: 34% }

  @media (--mobile-screen) {
    @nest .LnbMenu_Wrapper-count3 & {
      &.LnbMenu_Home { width: 23%; }
      &.LnbMenu_RecentUpdates { width: 40%; }
      &.LnbMenu_Categories { width: 37%; }
    }
  }
}

.LnbMenu_Link {
  display: block;
  position: relative;
  height: var(--lnb_mobile_height);
  text-align: center;
  text-decoration: none;
  & .reset-heading {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: var(--lnb_mobile_height);
  }
  &:focus .reset-heading,
  &:active .reset-heading,
  &:visited .reset-heading {
    color: #000;
  }
  &.LnbMenu_Link-active {
    & .reset-heading {
      color: var(--bluegray_80);
      font-weight: 700;
    }
  }
  @nest .iosApp & {
    & .reset-heading {
      font-family: 'Apple SD Gothic Neo', Noto Sans KR, NotoSansKR, Sans-serif;
    }
  }
}

@media (--pc-screen) {
  .LnbMenu_List {
    box-sizing: border-box;
    display: block;
    max-width: var(--max-pc-content-width);
    margin: 0 auto;
    padding: 0 8px;
  }
  .LnbMenu {
    display: inline-block;
    padding: 0 7px;
    &.LnbMenu_Home,
    &.LnbMenu_RecentUpdates,
    &.LnbMenu_Categories,
    &.LnbMenu_MySelect,
    &.LnbMenu_ArticleHome,
    &.LnbMenu_ArticleFollowing,
    &.LnbMenu_ArticleChannel,
    &.LnbMenu_ArticleFavorite {
      width: auto;
    }
  }

  .LnbMenu_Link {
    height: var(--lnb_pc_height);
    padding: 0 5px;
    & .reset-heading {
      font-size: 15px;
      line-height: var(--lnb_pc_height);
    }
  }
}
