.Empty_Wrapper {
  margin: 116px 0;
  padding: 20px 0;
  & .Empty_Icon {
    padding: 4px;
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    fill: #fff;
    border-radius: 999px;
    background-color: var(--slategray_30);
  }
  & .Empty_ArticleIcon {
    padding: 12.5px 10px;
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 35px;
    margin-bottom: 20px;
    fill: #e5e8eb;
  }
  & .Empty_Description {
    margin: 0;
    padding: 0;
    font-family: AppleSDGothicNeo, sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -.2px;
    text-align: center;
    color: var(--slategray_40);
  }
  & .Empty_View_Channels {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -.5px;
    line-height: 28px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px var(--dodgerblue_60);
    background-color: var(--dodgerblue_50);
    margin: 20px auto;
  }
}

