.ArticleList_Wrapper {
  margin-top: 20px;
  & ul.ArticleList {
    list-style: none;
    padding: 0;
    margin: 0;
    & li {
      width: 154px;
      display: inline-block;
      margin-left: 12px;
      @media (min-width: 500px) {
        width: 173px;
      }
      @media (--pc-screen) {
        width: 191px;
      }


      &:first-child {
        margin-left: 0;
      }
      & a {
        text-decoration: none;
      }
      & .Article_Thumbnail {
        width: 100%;
        height: 86px;
        border: 1px solid #eee;
        box-sizing: border-box;
      }
      & .ArticleMeta {
        margin-top: 10px;
        & .ArticleTitle {
          display: block;
          font-family: NotoSansCJKkr;
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: -0.3px;
          color: var(--gray_100);          
        }
        & .ArticleChannel {
          margin-top: 4px;
          display: block;
          font-family: NotoSansCJKkr;
          font-size: 13px;
          letter-spacing: -0.3px;
          color: var(--slategray_60);          
        }
      }
    }
  }
}