.ArticleThumbnail_Wrapper {
  @apply --reset-layout;

  width: 100%;
}

.ArticleThumbnail_Link {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  @nest .ArticleThumbnail_Wrapper-rectangle & {
    padding-top: 56.25%;
  }
  @nest .ArticleThumbnail_Wrapper-square & {
    padding-top: 100%;
  }
}

.ArticleThumbnail_CoverImage {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;

  @nest .ArticleThumbnail_Wrapper-square & {
    height: 100%;
    object-fit: cover;
  }
}

.ArticleThumbnail_DefaultCoverImage {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #e6e8eb;
}

.ArticleThumbnail_DefaultCoverImage_Logo {
  display: block;
  align-self: center;
  width: 30%;
  margin: 0 auto;
  @nest .ArticleThumbnail_Wrapper-square & {
    width: 40%;
  }
}
