.ArticleChannel_Thumbnail_Skeleton {
  margin-right: 18px;
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 999px;
}

.ArticleChannel_Meta_Title_Skeleton {
  width: 180px;
  height: 34px;
}

.ArticleChannel_Meta_Desc_Skeleton {
  width: 240px;
  height: 16px;
  margin-top: 10px;
}

.ArticleChannel_Meta_Serial_Skeleton {
  width: 90px;
  height: 16px;
  margin-top: 10px;
}

.ArticleChannel_Follow_Button_Skeleton {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}
