.PageArticleChannels.Skeleton_Wrapper {
  padding: 0 20px;
  background: #fff;
}
.ArticleChannelList_Skeleton_Wrap {
  max-width: 800px;
  margin: 0 auto;  
}

.ArticleChannelList_Skeleton {
  list-style: none;
  padding: 0;  
  margin: 0;
}

.ArticleChannel_Skeleton {
  padding: 20px 0;
  border-bottom: 1px solid #e4e8eb;
  @media (--pc-screen) {
    padding: 30px 0;
  }
}

.Channel_Info_Skeleton {
  display: flex;
  align-items: center;
}
.Channel_Thumbnail_Skeleton {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  border-radius: 999px;
}
.Channel_Link_Skeleton {
  text-decoration: none;
}
.Channel_Meta_Skeleton {
  min-width: 0;
  padding-right: 10px;
}

.Channel_Title_Skeleton {
  display: block;
  width: 120px;
  height: 17px;
  @media (--mobile-layout) {
    width: 70px;    
  }
  @media (--pc-screen) {
    width: 180px;    
  }

}
.Channel_Desc_Skeleton {
  display: block;
  margin-top: 2px;
  height: 15px;
  width: 200px;
  @media (--mobile-layout) {
    width: 100px;    
  }
  @media (--pc-screen) {
    width: 350px;    
  }
}

.Channel_FollowButton_Skeleton {
  display: inline-block;
  margin-left: auto;
  min-width: 76px;
  height: 30px;
  border-radius: 3px;
  border: 0;
}