@custom-media --bp-1st (width <= 359px);
@custom-media --bp-2nd (width >= 360px) and (width <= 413px);
@custom-media --bp-3rd (width >= 414px) and (width <= 599px);
@custom-media --bp-4th (width >= 600px) and (width <= 767px);
@custom-media --bp-5th (width >= 768px) and (width <= 833px);
@custom-media --bp-6th (width >= 834px) and (width <= 1023px);
@custom-media --bp-7th (width >= 1024px);

:root {
  --horizontal-padding: 20px;
  --book-width-mobile: 110px;
  --book-width-pc: 120px;
}

.GridBookList_Skeleton {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  & .Ranking_Placeholder {
    width: 20px;
    height: 15px;
    margin: 0 auto 15px;
  }
}

@media (--bp-1st) {
  .GridBookList_Skeleton {
    width: 320px;
    padding: 12px;
  }
  .GridBookList_Item_Skeleton {
    width: 90px;
    & .Thumbnail_Skeleton {
      height: 134px;
    }
  }
}
@media (--bp-2nd) {
  .GridBookList_Skeleton {
    width: 360px;
    padding: 14px;
  }
  .GridBookList_Item_Skeleton {
    width: 100px;
    & .Thumbnail_Skeleton {
      height: 150px;
    }
  }
}
@media (--bp-3rd) {
  .GridBookList_Skeleton {
    width: 414px;
    padding: 16px;
  }
  .GridBookList_Item_Skeleton {
    width: 116px;
    & .Thumbnail_Skeleton {
      height: 174px;
    }
  }
}
@media (--bp-4th) {
  .GridBookList_Skeleton {
    width: 512px;
    padding: 16px 0;
  }
  .GridBookList_Item_Skeleton {
    width: 120px;
    & .Thumbnail_Skeleton {
      height: 180px;
    }
  }
}
@media (--bp-5th) {
  .GridBookList_Skeleton {
    width: 528px;
    padding: 16px 0;
  }
  .GridBookList_Item_Skeleton {
    width: 120px;
    & .Thumbnail_Skeleton {
      height: 180px;
    }
  }
}
@media (--bp-6th) {
  .GridBookList_Skeleton {
    width: 800px;
    padding: 16px 0;
  }
  .GridBookList_Item_Skeleton {
    width: 120px;
    & .Thumbnail_Skeleton {
      height: 180px;
    }
  }
}
@media (--bp-7th) {
  .GridBookList_Skeleton {
    width: 800px;
    padding: 16px 0;
  }
  .GridBookList_Item_Skeleton {
    width: 120px;
    & .Thumbnail_Skeleton {
      height: 180px;
    }
  }
}

.GridBookList_Item_Skeleton {
  list-style: none;
  & + .GridBookList_Item_Skeleton {
    @media (--bp-1st) {
      margin-left: 12px;
      &:nth-child(3n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 30px;
      }
    }

    @media (--bp-2nd) {
      margin-left: 14.4px;
      &:nth-child(3n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 30px;
      }
    }

    @media (--bp-3rd) {
      margin-left: 16px;
      &:nth-child(3n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 30px;
      }
    }

    @media (--bp-4th) {
      margin-left: 10px;
      &:nth-child(4n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 5) {
        margin-top: 30px;
      }
    }

    @media (--bp-5th) {
      margin-left: 16px;
      &:nth-child(4n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 5) {
        margin-top: 30px;
      }
    }

    @media (--bp-6th) {
      margin-left: 16px;
      &:nth-child(6n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 7) {
        margin-top: 60px;
      }
    }

    @media (--bp-7th) {
      margin-left: 16px;
      &:nth-child(6n + 1) {
        margin-left: 0;
      }
      &:nth-child(n + 7) {
        margin-top: 60px;
      }
    }
  }
}
