.VoucherContent_Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 900px;
  box-sizing: border-box;
  background: url(../images/intro/hero_bg.jpg) center center no-repeat;
  background-size: cover;
  &::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 450px;
    content: '';
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 80%, rgba(15,23,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 80%,rgba(15,23,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 80%,rgba(15,23,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#0f1724',GradientType=0 ); /* IE6-9 */
    z-index: 30;
  }

  @media (--mobile-screen) {
    min-height: 450px;
    max-height: 640px;
    background: url(../images/intro/hero_bg.m.jpg) center center no-repeat;
    background-size: cover;
    padding-top: var(--gnb_mobile_height);
  }

  @nest .androidApp & {
    padding-top: var(--gnb_android_app_height);
  }
  @nest .iosApp & {
    padding-top: var(--gnb_ios_app_height);
  }
}

.VoucherContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 30px;
  color: #fff;
  @media (--pc-screen) {
    width: 800px;
    margin: 0 auto;
  }
}

.VoucherContent_TicketSVG {
  fill: var(--dodgerblue_50);
  width: 40px;
  height: 40px;
}

.VoucherContent_MainCopy {
  @apply --reset-layout;

  padding-top: 10px;
  font-size: 28px;
  font-weight: 900;
  line-height: 40px;
  @media (--pc-screen) {
    font-size: 42px;
    line-height: 59px;
  }
}

.VoucherContent_Description {
  @apply --reset-layout;

  margin: 0;
  padding: 14px 0 0;
  font-size: 15px;
  line-height: 25px;
  transition-delay: .3s;

  @media (--pc-screen) {
    padding-top: 20px;
    font-size: 18px;
    line-height: 32px;
  }
}

.VoucherContent_CodeInputWrapper {
  @apply --reset-layout;

  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 40px 0 10px;
  margin-top: 30px;
  border-radius: 3px;
  border: solid 1px var(--slategray_4);
  background-color: #fff;
  box-sizing: border-box;

  @media (--pc-screen) {
    display: block;
    width: 300px;
  }
}

.VoucherContent_CodeInput {
  @apply --reset-appearance;
  @apply --reset-input-focus;

  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;

  &::-webkit-input-placeholder {
    color: var(--slategray_50);
  }
  &:-ms-input-placeholder {
    color: var(--slategray_50);
  }
  &::placeholder {
    color: var(--slategray_50);
  }
  &::-webkit-clear-button {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}

.VoucherContent_CodeInputClearButton {
  @apply --reset-button;

  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: 0;
}

.VoucherContent_CodeInputClearButtonIcon {
  width: 12px;
  height: 12px;
  fill: #000;
}

.VoucherContent_SubmitButton {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: 15px;

  @media (--pc-screen) {
    display: block;
    width: 300px;
  }
}

.VoucherContent_LoginButton {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  font-size: 15px;

  @media (--pc-screen) {
    width: 240px;
  }
}

.VoucherContent_SupportCaption {
  @apply --reset-layout;
  @apply --reset-font-unlimited;

  position: relative;
  margin-top: 20px;
  opacity: .9;
  font-size: 14px;
  color: var(--slategray_30);

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 6px;
    left: -10px;
    background: var(--bluegray_50);
  }
}
