.ArticleChannelMeta_Wrapper {
  display: flex;
  align-items: center;
}

.ArticleChannelMeta_Link {
  flex: 1;
  min-width: 0;
  text-decoration: none;
  padding-right: 10px;
  box-sizing: border-box;
}

.ArticleChannelMeta_Title {
  font-family: Noto Sans KR, NotoSansKR, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.3px;
  color: var(--gray_100);
}
.ArticleChannelMeta_Desc {
  margin-top: 2px;
  display: block;
  font-family: Noto Sans KR, NotoSansKR, sans-serif;
  font-size: 12px;
  letter-spacing: -.3px;
  color: var(--slategray_60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
