.ArticlePageChannelList_Wrap {
  max-width: 800px;
  margin: 0 auto;
}
.ArticlePageChannelList {
  list-style: none;
  margin: 0 20px;
  padding: 0;
}
.ArticlePageChannel {
  padding: 20px 0;
  border-bottom: 1px solid #e4e8eb;
  @media (--pc-screen) {
    padding: 30px 0;
  }
}
.Channel_Info {
  display: flex;
  align-items: center;
}
.Channel_Thumbnail {
  margin-right: 10px;
  & .Channel_Image {
    width: 40px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, .02);
    border-radius: 999px;
  }
}
.Channel_Link {
  text-decoration: none;
}
.Channel_Meta {
  min-width: 0;
  padding-right: 10px;
}

.Channel_Title {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.3px;
  color: var(--gray_100);
}
.Channel_Desc {
  margin-top: 2px;
  display: block;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  letter-spacing: -.3px;
  color: var(--slategray_60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.Channel_Follow {
  margin-left: auto;
  width: 76px;
  height: 30px;
  border-radius: 3px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -.3px;
  line-height: 30px;
  border: solid 1px var(--dodgerblue_50);
  background-color: #fff;
  color: var(--dodgerblue_50);
  flex: none;
  cursor: pointer;
  &:hover, &:active {
    border-color: var(--dodgerblue_60);
    transition: background .2s, color .2s;  
  }
}

.FollowButton {
  border: none;
  background-color: var(--dodgerblue_50);
  color: #fff; 
  &:hover, &:active {
    background-color: var(--dodgerblue_60); 
    transition: background .2s, color .2s;
  }
}

.Follow_Icon {
  width: 10px;
  height: 10px;
  fill: #fff;
  margin-right: 4px;
}
 
