.PageArticleChannels, .PageArticleChannelDetail {
  margin-bottom: 40px;
}
.ArticleChannelList_Wrapper {
  max-width: 840px;
  margin: 0 auto;
}
.ArticleChannelList {
  list-style: none;
  margin: 0 20px;
  padding: 0;
}
.ArticleChannelList_Item {
  padding: 20px 0;
  border-bottom: 1px solid #e4e8eb;
  @media (--pc-screen) {
    padding: 30px 0;
  }
}
