.ChannelInfoHeader_Wrapper {
  display: flex;
  padding: 0 18px;
  align-items: center;
}
.ChannelInfoHeader_ChannelLink {
  text-decoration: none;
}
.ChannelInfoHeader_Meta {
  flex: 1;
  min-width: 0;
  padding-right: 10px;
  box-sizing: border-box;
}
.ChannelInfoHeader_Title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--gray_100);
}
.ChannelInfoHeader_Desc {
  margin: 2px 0 0;
  padding-right: 5px;
  display: block;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: var(--slategray_60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ChannelInfoHeader_Desc_AuthorName {
  display: inline;
  word-break: break-all;
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
  padding-right: 5px;
  vertical-align: top;
}

.ChannelInfoHeader_Desc_PublishDate {
  display: inline;
  position: relative;
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
  vertical-align: top;

  &.ChannelInfoHeader_Desc_PublishDate-hasDivider {
    padding-left: 6px;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      top: 5px;
      left: 0;
      background: var(--slategray_30);
    }
  }
}
