.ChannelInfoHeader_Wrapper {
  display: flex;
  padding: 0 18px;
  align-items: center;
}
.ChannelInfoHeader_ChannelLink {
  text-decoration: none;
}

.ChannelInfoHeader_Title {
  display: block;
  font-family: NotoSansCJKkr, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.3px;
  color: var(--gray_100);
}
.ChannelInfoHeader_Desc {
  margin: 2px 0 0;
  padding-right: 5px;
  display: block;
}

.ChannelInfoHeader_Desc_AuthorName {
  display: inline;
  word-break: break-all;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: -.3px;
  color: var(--slategray_60);
  padding-right: 5px;
  vertical-align: top;

}

.ChannelInfoHeader_Desc_PublishDate {
  display: inline;
  position: relative;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: -.3px;
  color: var(--slategray_60);
  vertical-align: top;
  &.ChannelInfoHeader_Desc_PublishDate-hasDivider {
    padding-left: 6px;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      top: 5px;
      left: 0;
      background: var(--slategray_30);
    }
  }
}