.ArticleChannelThumbnail_Wrapper {
  position: relative;
  flex: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: solid 1px rgba(0, 0, 0, .02);
  border-radius: 999px;
  overflow: hidden;
}

.ArticleChannelThumbnail_CoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ArticleChannelCoverImage_Placeholder {
  width: 100%;
  height: 100%;
}

.ArticleChannelThumbnail_DefaultCoverImage {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #e6e8eb;
}

.ArticleChannelThumbnail_DefaultCoverImage_Logo {
  display: block;
  align-self: center;
  width: 30%;
  margin: 0 auto;
}
.ArticleChannelThumbnail_Block {
  width: 40px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, .02);
  border-radius: 999px;
  overflow: hidden;
  background-color: #b3b3b3;
  line-height: 31px;
  text-align: center;
}

.ArticleChannelThumbnail_BlockImage {
  fill: #e6e6e6;
  vertical-align: middle;
}