@import '@ridi/rsg/colors/colors.css';
@import 'normalize.css';
@import 'base/customProperties.css';

.RidiselectArticle {
  max-width: 100%;
  overflow-x: auto;

  &,
  & p,
  & span,
  & div,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & a,
  & strong,
  & b,
  & i,
  & u,
  & figure,
  & blockquote,
  & q,
  & code,
  & ul,
  & li,
  & pre,
  & ul,
  & ol {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, NotoSansKR, sans-serif;
    line-height: 1.8em;
    letter-spacing: -0.2px;
    color: var(--slategray_90);
    word-wrap: break-word;
    word-break: break-all;

    & a,
    & a:hover,
    & a:focus,
    & a:active {
      font-weight: inherit;
      font-size: inherit;
      color: var(--dodgerblue_40);
    }
  }

  & > a {
    &,
    &:hover,
    &:focus,
    &:active {
      font-size: 18px;
      font-weight: 400;
      color: var(--dodgerblue_40);
    }
  }

  & hr {
    display: block;
    position: relative;
    border: 0;
    padding: 30px 0;
    margin: 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: calc(100vw - 40px);
      height: 1px;
      background: var(--slategray_20);
    }
  }

  &,
  & p,
  & span,
  & div {
    font-size: 18px;
    font-weight: 400;
  }

  & h1,
  & h2,
  & h3 {
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    letter-spacing: -0.34px;
    & strong {
      font-weight: 700;
    }
  }

  & h1 {
    font-size: 26px;
    line-height: 1.75em;
  }
  & h2 {
    font-size: 24px;
  }
  & h3 {
    font-size: 21px;
  }

  & code {
    display: inline-block;
    overflow-x: scroll;
    background: var(--slategray_5);
    border: 1px solid var(--slategray_20);
    border-radius: 2px;
    padding: 20px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    box-sizing: border-box;
    max-width: 100%;

    & * {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
    }
  }

  & ul,
  & ol {
    list-style: none;
    margin-top: 30px;
    list-style-position: inside;
    & p {
      display: inline-block;
    }
    & li {
      position: relative;
      padding: 7px 0 0 28px;
      &:first-child {
        padding-top: 0;
      }
      &::before {
        position: absolute;
      }
    }
  }

  & ol {
    counter-reset: article-order-list;
    & li {
      counter-increment: article-order-list;
      &::before {
        top: 8px;
        left: 0;
        width: 28px;
        height: 28px;
        line-height: 1.8em;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: -0.2px;
        color: var(--slategray_90);
        content: counter(article-order-list);
      }
      &:first-child {
        &::before {
          top: 1px;
        }
      }
    }
  }

  & ul {
    & li {
      &::before {
        width: 6px;
        height: 6px;
        top: 19px;
        left: 11px;
        background: var(--slategray_90);
        content: '';
        border-radius: 3px;
      }
      &:first-child {
        &::before {
          top: 12px;
        }
      }
    }
  }

  & blockquote {
    border-left: 4px solid var(--slategray_20);
    padding-left: 20px;
    box-sizing: border-box;
    margin: 30px 0;

    & * {
      font-size: 18px;
      line-height: 1.8em;
      color: var(--slategray_60);
      padding: 0;
      margin: 0;
    }

    &.annotation {
      border: none;
      padding: 0;
      line-height: 1.8em;
      & * {
        color: var(--slategray_50);
      }
    }
  }

  & q {
    display: block;
    margin: 30px 0;
    position: relative;
    text-align: center;
    padding-top: 35.5px;

    & * {
      font-size: 18px;
      line-height: 1.8em;
      margin: 0;
      padding: 0;
      color: var(--slategray_60);
    }

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -10.5px;
      content: '';
      display: block;
      width: 21px;
      height: 15px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 15.5H6.5L9.5 9.5V0.5H0.5V9.5H5L2 15.5ZM14 15.5H18.5L21.5 9.5V0.5H12.5V9.5H17L14 15.5Z' fill='%23B8BFC4'/%3E%3C/svg%3E");
      background-size: 21px 15px;
    }
  }

  & figure {
    padding: 30px 0;
  }

  & iframe {
    display: block;
    width: 700px;
    height: 394px;
    margin: 0 auto;
  }

  & img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    &.emoji {
      display: inline;
      width: 1em;
    }
  }

  & figcaption {
    color: var(--slategray_50);
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    line-height: 1.5em;
  }

  & .circle {
    & img {
      border-radius: 100%;
    }
  }
}

@media (max-width: 700px) {
  .RidiselectArticle {
    & > p,
    & > span,
    & > div,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > a,
    & > strong,
    & > b,
    & > i,
    & > u,
    & > q,
    & > code,
    & > ul,
    & > ol,
    & > pre,
    & figcaption {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    & > blockquote {
      margin-left: 20px;
      margin-right: 20px;
    }
    & hr {
      padding-left: 20px;
      padding-right: 20px;
    }
    & iframe {
      width: 100vw;
      height: 56.25vw;
    }
  }
}
