@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap&text=1234567890,/%');

@font-face {
  font-family: review_num;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/review_num.woff2) format('woff2'), url(../fonts/review_num.woff) format('woff'),
    url(../fonts/review_num.ttf) format('truetype');
}
