.FollowingChannelList {
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 30px 0px 10px;
  overflow: auto;
  @media (min-width: 415px) and (max-width: 799px) {
    padding-left: 20px;
  }
  @media (--mobile-layout) {
    padding: 15px 10px;
  }

  & .FollowingChannel {
    display: inline-block;
    &:last-child {
      margin-right: 0;
    }
    & .ChannelItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 62px;
      height: 62px;
      & .ChannelThumbnail {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        border: 1px solid #eee;
        border-radius: 999px;
        box-sizing: border-box;
        object-fit: cover;
      }
      & .ChannelName {
        width: 62px;
        height: 17px;
        font-family: NotoSansCJKkr, sans-serif;
        font-size: 11px;
        letter-spacing: -.3px;
        color: var(--slategray_60);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
      }
    }
  }
}

.FollowingArticleList {
  max-width: 800px;
  margin: 0 auto;
}

.FollowingChannel_Link {
  text-decoration: none;;
}
