.SettingGroupTitle {
  height: 20px;
  padding: 22px 16px 0px 16px;

  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  color: #808991;    

  display: flex;
  align-items: center;
}

.SettingMenu {
  box-sizing: border-box;
  position: relative;
  min-width: var(--min-content-width);
  max-width: var(--max-pc-content-width);
  margin: 0;
  padding: 10px 8px;
  list-style: none;  
  &:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 46px;
    height: 1px;
    background: #f2f2f2;
    content: '';
  }
}
.SettingMenu_Link {
  display: block;
  position: relative;
  padding: 15px 0 15px 39px;
  transition: color .2s;
  &,
  &:visited,
  &:active,
  &:focus {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }
  @media (hover: hover) {
    &:hover {
      color: var(--slategray_80);
      & .SettingMenu_Icon {
        fill: var(--slategray_50);
      }
    }
  }
  @media (hover: none) {
    &:active {
      color: var(--slategray_80);
      & .SettingMenu_Icon {
        fill: var(--slategray_50);
      }
    }
  }
}
.SettingMenu_Invoice_Icon {
  width: 20px;
  height: 22px;
  margin-top: -10px;
  margin-left: 1px;
}
.SettingMenu_Icon {
  margin-right: 10px;
  fill: var(--slategray_60);
}
.SettingMenu_Payment_Icon {
  width: 26px;
  height: 18px;
  margin-top: -9px;
}
.SettingMenu_Card_Icon {
  /* margin-top: -11px; */
}
.SettingMenu_History_Icon {
  width: 21px;
  height: 18px;
  margin-top: -9px;
}
.SettingMenu_Review_Icon {
  width: 20.9px;
  height: 20px;
  margin-top: -10px;
}
.SettingMenu_FAQ_Icon {
  width: 17px;
  height: 17px;
  margin-top: -8.5px;
}
.SettingMenu_ModifyInfo_Icon {
  width: 16px;
  height: 16px;
  margin-top: -8px;
}
.SettingMenu_Invoice_Icon {
  width: 20px;
  height: 22px;
  margin-top: -10px;
  margin-left: 1px;
}
.SettingMenu_Logout_Icon {
  width: 18px;
  height: 18px;
  margin-top: -9px;
}

@media (--pc-screen) {
  .SettingGroupTitle {
    width: 304px;
    margin: 0 auto;
    height: 20px;
    padding: 22px 16px 0px 16px;

    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.26px;
    color: #808991;    

    display: flex;
    align-items: center;
  }

  .SettingMenu {
    width: var(--min-content-width);
    margin: 0 auto;
    padding: 10px 0;
    &:not(:last-child)::after {
      position: absolute;
      bottom: 0;
      right: -14px;
      left: 40px;
      height: 1px;
      background: #f2f2f2;
      content: '';
    }    
  }
}
