.PageArticleContent {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  & .ChannelInfoHeader_Wrapper {
    padding: 10px 0 30px;
  }
}

.ArticleContent_Title {
  @apply --reset-layout;

  padding-top: 30px;
  font-family: NotoSansCJKkr, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -.68px;
  color: var(--gray_100);
}

.ArticleContent_ButtonsWrapper {
  @apply --reset-list;

  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ArticleContent_ButtonElement {
  width: 50%;
  padding: 0 4px;
  box-sizing: border-box;
}

.ArticleContent_Button {
  width: 100%;
  height: 40px;
}

.ArticleContent_LikeButton_Icon {
  width: 12px;
  height: 10px;
  margin-right: 4px;
  fill: var(--slategray_30);
  @nest .ArticleContent_LikeButton-active & {
    fill: var(--red_40);
  }
}

.ArticleContent_ShareButton_Icon {
  width: 14px;
  margin-right: 3px;
  fill: var(--slategray_60);
}

@media (max-width: 640px) {
  .ArticleContent_Title {
    padding: 30px 20px 0;
  }
  .PageArticleContent {
    & .ChannelInfoHeader_Wrapper {
      padding: 10px 20px 30px;
    }
  }
  .ArticleContent_ButtonsWrapper {
    padding: 60px 12px;
  }
}

@media (--mobile-layout) {
  .ArticleContent_ButtonsWrapper {
    padding: 30px 12px;
  }
}
