.PageArticleContent {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  & .ChannelInfoHeader_Wrapper {
    padding: 10px 0 30px;
  }
}

.ArticleContent_Title {
  @apply --reset-layout;

  padding-top: 30px;
  font-family: NotoSansCJKkr, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -.68px;
  color: var(--gray_100);
}

.ArticleContent_ButtonsWrapper {
  @apply --reset-list;

  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ArticleContent_ButtonElement {
  width: 50%;
  padding-left: 8px;
  box-sizing: border-box;

  &:first-child {
    padding-left: 0;
  }
}

.ArticleContent_Button {
  width: 100%;
  height: 40px;
}

@media (--mobile-screen) {
  .ArticleContent_ButtonsWrapper {
    padding: 30px 0;
  }
}
